<div class="page-header">
  <h3>Timing #<%= @timing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Time</dt>
      <dd><%= @timing.time %></dd>

      <dt>Date</dt>
      <dd><%= @timing.date %></dd>

      <dt>Day</dt>
      <dd><%= @timing.day %></dd>

      <dt>Reminders</dt>
      <dd><%= @timing.reminders_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/timings" class="btn btn-primary">
        Back
      </a>
      <a href="/timings/<%= @timing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_timing/<%= @timing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
