<!-- Validation failure messages -->
<% if @reminder.errors.any? %>
  <% @reminder.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Reminder #<%= @reminder.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_reminder/<%= @reminder.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for focus_id -->
      <div class="form-group">
        <label for="focus_id" class="control-label">
          Focus
        </label>

        <%= select_tag(:focus_id, options_from_collection_for_select(Focu.all, :id, :name, @reminder.focus_id), :class => "form-control") %>
      </div>

      <!-- Label and input for mindsets_id -->
      <div class="form-group">
        <label for="mindsets_id" class="control-label">
          Mindsets
        </label>

        <%= select_tag(:mindsets_id, options_from_collection_for_select(Mindset.all, :id, :name, @reminder.mindsets_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @reminder.user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Reminder
      </button>
      or
      <a href="/reminders/<%= @reminder.id %>">Cancel</a>
    </form>
  </div>
</div>
