<div class="page-header">
  <h3>Focu #<%= @focu.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @focu.name %></dd>

      <dt>Goals</dt>
      <dd><%= @focu.goals_id %></dd>

      <dt>Mindsets</dt>
      <dd><%= @focu.mindsets_id %></dd>

      <dt>Description</dt>
      <dd><%= @focu.description %></dd>

      <dt>User</dt>
      <dd><%= @focu.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/focus" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @focu.user %>
        <a href="/focus/<%= @focu.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_focu/<%= @focu.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Focu has many reminders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reminders
      </li>

      <% @focu.reminders.each do |reminder| %>
        <li class="list-group-item">
          <a href="/reminders/<%= reminder.id %>">
            <%= reminder.focus_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reminders/<%= reminder.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reminders/<%= reminder.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_reminder/<%= reminder.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
