<div class="page-header">
  <h3>Primer #<%= @primer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @primer.name %></dd>

      <dt>Description</dt>
      <dd><%= @primer.description %></dd>

      <dt>Mindsets</dt>
      <dd>
        <% if @primer.mindsets.present? %>
          <a href="/mindsets/<%= @primer.mindsets_id %>">
            <%= @primer.mindsets.name %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @primer.user.present? %>
          <a href="/users/<%= @primer.user_id %>">
            <%= @primer.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/primers" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @primer.user %>
        <a href="/primers/<%= @primer.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_primer/<%= @primer.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
