<div class="page-header">
  <h3>Mindset #<%= @mindset.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @mindset.name %></dd>

      <dt>Description</dt>
      <dd><%= @mindset.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/mindsets" class="btn btn-primary">
        Back
      </a>
      <a href="/mindsets/<%= @mindset.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mindset/<%= @mindset.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Mindset has many reminders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reminders
      </li>

      <% @mindset.reminders.each do |reminder| %>
        <li class="list-group-item">
          <a href="/reminders/<%= reminder.id %>">
            <%= reminder.focus_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reminders/<%= reminder.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reminders/<%= reminder.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_reminder/<%= reminder.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_reminder" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for focus_id -->
      <div class="form-group">
        <label for="focus_id" class="control-label">
          Focus
        </label>

        <%= select_tag(:focus_id, options_from_collection_for_select(Focu.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for mindsets_id -->
      <div class="form-group">
        <label for="mindsets_id" class="control-label">
          Mindsets
        </label>

        <%= select_tag(:mindsets_id, options_from_collection_for_select(Mindset.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Reminder
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Mindset has many primers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Primers
      </li>

      <% @mindset.primers.each do |primer| %>
        <li class="list-group-item">
          <a href="/primers/<%= primer.id %>">
            <%= primer.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/primers/<%= primer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/primers/<%= primer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_primer/<%= primer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_primer" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for mindsets_id -->
      <div class="form-group">
        <label for="mindsets_id" class="control-label">
          Mindsets
        </label>

        <%= select_tag(:mindsets_id, options_from_collection_for_select(Mindset.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Primer
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
