<div class="page-header">
  <h3>Goal #<%= @goal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @goal.name %></dd>

      <dt>User</dt>
      <dd><%= @goal.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/goals" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @goal.user %>
        <a href="/goals/<%= @goal.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_goal/<%= @goal.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Goal has many focus -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Focus
      </li>

      <% @goal.focus.each do |focu| %>
        <li class="list-group-item">
          <a href="/focus/<%= focu.id %>">
            <%= focu.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/focus/<%= focu.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/focus/<%= focu.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_focu/<%= focu.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
